<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <a href="https://github.com/{{ site.github_username }}">
          <span class="fa fa-github-square"></span>
        </a>
      </div>

      <div class="footer-col">
        <a href="mailto:{{ site.email }}">
          <span class="fa fa-envelope"></span>
        </a>
      </div>

      <div class="footer-col">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="fa fa-twitter-square"></span>
        </a>
      </div>

    </div><!-- div.footer-col-wrapper -->

    <p class="footer-description">
        Perfection is achieved, not when there is nothing more to add,<br>
        but when there is nothing left to take away.<br>
        <cite>Antoine de Saint-Exupery</cite>
    </p>

    <h2 class="footer-heading">&lt;/&gt;</h2>

  </div><!-- div.wrapper -->

</footer>
