/**
 * Site header
 */
.site-header {
    border-top: 0.5rem solid $text-dark;
    min-height: 56px;
}

.site-title {
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-dark;
        line-height: $base-line-height;
        text-transform: lowercase;

        &:hover {
            color: $accent;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background: $base-dark;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-col-wrapper {
    color: $text-dark;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    text-align: center;

    a {
        border: none;
        font-size: $base-font-size * 2;
    }
}

@include media-query($on-laptop) {
    .footer-col a {
    }
}

@include media-query($on-palm) {
    .footer-col a {

    }
}

.footer-description {
    color: $text-dark;
    margin: 2rem;

    cite:before {
        content: "- ";
    }
}

.footer-heading {
    font-size: $base-font-size * 2;
    margin-bottom: $spacing-unit / 2;
}


/**
 * Index
 */
article.post-tile {
    padding: $spacing-unit / 2;
    transition: background-color ease $time;

    h2 {
        padding: 0;
        margin-bottom: 0.4rem;

        a.post-link {
            text-underline: none;
        }
    }

    p.post-meta {
        margin: 0;
        text-align: right;
    }

    // &:hover {
    //     background-color: $base-dark;
    // }
}


/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit + 1rem) 0;
}

.page-heading {
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-dark;
    text-transform: lowercase;

    time {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            border-top: 1px solid $text-dark;
            z-index: -1;
        }

        span {
            background: $base;
            padding: 2px 15px;
        }
    }
}

.post-link {
    display: block;
    font-size: 1.3333rem;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    margin-bottom: $spacing-unit;

    @include media-query($on-laptop) {
        // font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    // h2 {
    //     font-size: 32px;

    //     @include media-query($on-laptop) {
    //         font-size: 28px;
    //     }
    // }

    // h3 {
    //     font-size: 26px;

    //     @include media-query($on-laptop) {
    //         font-size: 22px;
    //     }
    // }

    // h4 {
    //     font-size: 20px;

    //     @include media-query($on-laptop) {
    //         font-size: 18px;
    //     }
    // }

    p {
        text-align: justify;
    }
}
